<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-slider.min.js"></script>
    
    <script src="js/swiper.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/jquery.fancybox.js"></script>

</body>
</html>